import locale
from sqlalchemy.engine.url import URL

DATABASE = {
    'drivername': 'postgres',
    'host': 'localhost',
    'port': '5432',
    'username': 'qabel',
    'password': 'qabel_test',
    'database': 'qabel_drop'
}

SQLALCHEMY_DATABASE_URI = URL(**DATABASE)
DEVELOPMENT = True
SQLALCHEMY_TRACK_MODIFICATIONS = True
#SERVER_NAME='127.0.0.1:5000'